.homeIcon {
    height: 10vmin;
    display: block;
    margin: auto;
  }

.labelCityFilter {
    
  margin-left: 10%;
  
}

.inputCityFilter {

  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;

}