.itineraryList {
        border: 2px solid gray;
        margin: 1px;

}

.activityLink {

        text-align: center;
        background-color: lightgrey;
}

.itineraryUser {
        
        display: grid;
}

.itineraryUserImg {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-top: 25px;
}

.itineraryUserName {
        text-align: center;
}


.itinerayName {
        text-align: center;
       
}

.itineraryInfo {

        margin-left: 0px;
}
