.itineraryCity {
  width: 100%;
  height: 150px;
  margin: 1px 0px 1px 0px;
}

.citieListImg {
  width: 100%;
  height: 100%;
}

.citieListName {
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px black;
  position: relative;
  top: -45px;
  text-align: center;
}

.chooseOther {
  text-align: center;
}
