.imagenesCar {
    padding: 1px;    
    width: 200px;
    height: 200px;     
}

.imgCarousel {  
    width: 430px;
    background: withe;
}

.textoImgCar a {

    font-size: 25px;
    color:white;
    text-shadow: 1px 1px black;
    position: relative;
    top: -45px;
}

.textoImgCar {
    margin: -18px;
}

